<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">Take Your Meds</a>
            <span class="navbar-text">Helps to keep track of your daily medication, with scheduled telephone reminders</span>
            <ul class="nav pull-right">
                <li>
                    <a href="https://github.com/chrismcband/pillsreminder">GitHub Source</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="main-content" class="main-content">

    <ul class="nav nav-tabs">
        <li>
            <a id="patients-admin" href="#admin/patients">Patients</a>
        </li>
        <li>
            <a id="drugs-admin" href="#admin/drugs">Drugs</a>
        </li>
        <li>
            <a id="courses-admin" href="#admin/courses">Courses</a>
        </li>
        <li>
            <a id="users-admin" href="#admin/users">Users</a>
        </li>
    </ul>

    <div class="row">
        <div id="admin-collection-list" class="span4"></div>
        <div id="admin-edit-content" class="span8"></div>
    </div>


</div>