<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        {{#iter this}}
            <tr data-user-id="{{_id}}">
                <td>{{iPlus1}}</td>
                <td>{{email}}</td>
                <td>{{passwordHidden}}</td>
                <td><button type="button" class="btn btn-danger btn-mini delete" data-user-id="{{_id}}"><i class="icon-trash icon-white"></i> Delete</button></td>
            </tr>
        {{/iter}}
    </tbody>
</table>