<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="firstname">First name:</label>

        <div class="controls">
            <input type="text" id="firstname" name="firstname" placeholder="First name" value="{{firstname}}">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="lastname">Last name:</label>

        <div class="controls">
            <input type="text" id="lastname" name="lastname" placeholder="Last name" value="{{lastname}}"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Sex:</label>

        <div class="controls">
            <select id="gender" name="gender">
                {{genderFields gender}}
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Date of birth:</label>

        <div class="controls">
            <input type="date" id="dob" name="dob" value="{{dobFormatted}}"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="phone1">Phone 1:</label>

        <div class="controls">
            <input type="tel" id="phone1" name="phone1" placeholder="Phone number">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="phone2">Phone 2:</label>

        <div class="controls">
            <input type="tel" id="phone2" name="phone2" placeholder="Phone number">
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button type="button" class="btn btn-success new"><i class="icon-plus icon-white"></i> New</button>
            <button type="submit" class="btn btn-primary save" data-loading-text="Saving...">Save</button>
        </div>
    </div>

    <input type="hidden" name="_id" value="{{_id}}"/>
</form>