<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">Take Your Meds</a>
            <span class="navbar-text">Helps to keep track of your daily medication, with scheduled telephone reminders</span>
            <ul class="nav pull-right">
                <li>
                    {{#if isAdmin}}
                    <a href="#admin/patients">Admin</a>
                    {{/if}}
                </li>
                <li>
                    <a href="https://github.com/chrismcband/takeyourmeds">GitHub Source</a>
                </li>
            </ul>
        </div>
    </div>
</div>