<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">Take Your Meds</a>
            <span class="navbar-text">Helps to keep track of your daily medication, with scheduled telephone reminders</span>
            <ul class="nav pull-right">
                <li class="role-1">
                    <a href="#admin/patients">Admin</a>
                </li>
                <li>
                    <a href="https://github.com/chrismcband/takeyourmeds">GitHub Source</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="main-content" class="main-content">
    <div id="profile-container"></div>
    <div id="courses-container"></div>
</div>